body {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
  color: #171717;
  background-color: #e8e9e5;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  background-color: #705542;
}

header h1 {
  font-family: "Amatic SC", cursive;
}

header img {
  display: inline;
  height: 80px;
}

header div {
  display: inline;
}

header div button {
  display: inline;
}

header div .fondoNav {
  background-color: #705542 !important;
}

main {
  background-color: rgba(209, 193, 169, 0.5019607843);
  border-radius: 20px;
}

.mainIndex li {
  list-style: circle;
}

.mainIndex li a {
  text-decoration: none;
  color: #171717;
}

.mainImg .tamImg {
  max-width: 600px;
}

.mainImg .tamImg img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
}

.mainImg .tamImg img:hover {
  box-shadow: 7px 6px 23px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 7px 6px 23px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 7px 6px 23px 0px rgba(0, 0, 0, 0.64);
}

.sectionIndex {
  display: flex;
  height: 600px;
  width: 100%;
  border-radius: 20px;
  z-index: 2;
}

.sectionIndex img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.3s ease;
}

.sectionIndex img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.sectionIndex1 {
  display: none;
}

@media (max-width: 500px) {
  .sectionIndex {
    display: none;
  }

  .sectionIndex1 {
    display: inline;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .sectionIndex1 .elemetos {
    flex: 1 0 auto;
    width: 180px;
    height: 300px;
    object-fit: cover;
  }

  .sectionIndex1 .elemetos img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.divConten {
  background-color: rgba(209, 193, 169, 0.5019607843);
  border-radius: 20px;
}

.divConten .tamImg {
  max-width: 600px;
}

.divConten .tamImg img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
}

.divConten .tamImg img:hover {
  box-shadow: 7px 6px 23px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 7px 6px 23px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 7px 6px 23px 0px rgba(0, 0, 0, 0.64);
}

form {
  background-color: rgba(209, 193, 169, 0.5019607843);
  border-radius: 20px;
}

form .button2 {
  background-color: #756a6a;
  color: #e8e9e5;
  width: 8.5em;
  height: 2.9em;
  border: #705542 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

form .button2:hover {
  background-color: #8ebd80;
  cursor: pointer;
}

form .button2 svg {
  width: 1.6em;
  margin: -0.1em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

form .button2:hover svg {
  transform: translateX(5px);
}

form .text2 {
  padding-right: 1.7rem;
}

form .button3 {
  background-color: #756a6a;
  color: #e8e9e5;
  width: 8.5em;
  height: 2.9em;
  border: #705542 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

form .button3:hover {
  background-color: #bd8480;
  cursor: pointer;
}

form .button3 svg {
  width: 1.6em;
  margin: -0.1em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

form .button3:hover svg {
  transform: translateX(5px);
}

form .text3 {
  padding-right: 1.7rem;
}

.gallery {
  margin: 1em;
  columns: 5 320px;
  column-gap: 0.5em;
}

.gallery img {
  max-width: 100%;
  margin-bottom: 0.5em;
  display: inline-block;
  border-radius: 5px;
}

/* no puede arreglar que me queden parejas las fotos al final del scrol, solucion que pense
scroll infinito (no lo puedo hacer)(como pinterest)*/

footer {
  display: flex;
  background-color: #756464;
  justify-content: center;
}

footer div img {
  display: inline;
  height: 80px;
}

footer div li {
  display: inline;
  color: #e8e9e5;
}

/*# sourceMappingURL=style.css.map */