.gallery{
    margin: 1em;
    columns: 5 320px;
    column-gap: 0.5em;
    img{
        max-width: 100%;
        margin-bottom: 0.5em;
        display: inline-block;
        border-radius: 5px;
    }
}